*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

/* --------------------------- Header ----------------------*/
.navbar {
    overflow: hidden;
    background-color: lightblue;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*-----------------------Dropdown Knap---------------------------------*/
/* Dropdown Button */
.dropbtn {
    background-color: lightblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*-----------------------Body to make footer work-------------------------*/

#content-container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 75px;
}

/*----------------------Footer-----------------------*/

.footer {
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.footer a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.footer a:hover {
    color: darkblue;
}