*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

/* --------------------------- Header ----------------------*/
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: lightblue;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container img {
    height: 50px;
    margin-top: 15px;
}

.logo_container h1{
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*-----------------------Body to make footer work-------------------------*/

#content-container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*----------------------Fotter-----------------------*/

#footer {
    background-color: darkblue;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}
